<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 配置数据库相关参数 -->

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:mybatis/mysql-config.properties"/>
    </bean>

    <!-- c3p0数据库连接池 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- 配置连接池属性 -->
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!-- c3p0连接池的私有属性  -->
        <property name="acquireIncrement" value="3"/>
        <property name="initialPoolSize" value="2"/>
        <property name="maxPoolSize" value="15"/>
        <property name="minPoolSize" value="2"/>
        <property name="checkoutTimeout" value="5000"/>
        <!-- 当获取连接失败重试的次数 -->
        <property name="acquireRetryAttempts" value="5"/>
    </bean>

    <!--开启Spring的数据库事务管理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <!--开启注解可以管理事务：@Transaction-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- 配置SqlSessionFactory对象 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 配置mybatis全局配置文件 -->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <!-- 扫描model包，使用别名 -->
        <property name="typeAliasesPackage" value="com.azure.mall.models"/>
        <!-- 扫描sql配置文件：mapper需要的Xml文件 -->
        <property name="mapperLocations" value="classpath*:mybatis/mappers/*.xml"/>
    </bean>

    <!-- 配置扫描DAO接口包，目的是动态实现Dao接口并注入到Spring容器中 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 注入sqlSessionFactory -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.azure.mall.mappers"/>
    </bean>

    <bean id="testLogger" class="org.apache.log4j.Logger" factory-method="getLogger">
        <constructor-arg value="testLogger"/>
    </bean>

    <context:component-scan base-package="com.azure.mall.models"/>
    <context:component-scan base-package="com.azure.mall.services"/>
    <context:component-scan base-package="com.azure.mall.mappers"/>
</beans>